img{
    width: 200px;
    display: block; margin: auto; 
}
h1,h2{
    color: rgb(136, 255, 0);
    text-align: center;
}
body {
    background-color: rgb(6, 4, 20);
}

main{
    text-align: center;
}
p{
    text-align: center;
    color: rgb(55, 0, 255);
}
button{
    color: red;
}