*{

    padding: 0;
    box-sizing: border-box;
    width: 700px;
    padding: 30px;
    box-align: center;
    margin: center;
    align-items: center;
    margin-left: center ;
    margin-right: center ;
    margin-top: center ;
}
body{
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/632/40/2/nebula-orion-nebula-universe-astronomical-object-wallpaper-preview.jpg');
}
.form-register {
    width: 500 px;
    background:  #2E4053;
    padding: 30px;
    margin-left: 100%;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    box-sizing: content-box;
    align-items: center;

}
.form-register h4{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;

}
.form-register h5{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;

}
.controls{
    width :100%;
    background: white ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
    text-align: center;

}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    
}
.content-box{
    width :100%;
    background: white ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
    text-align: center;
}
.form-register a{
    color: white;
    text-decoration: underline;

}

.form-register .bottons{
    width :200%;
    background: #2E4053;
    border: none;
    padding: 12px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 30px;
}